<!DOCTYPE html>
<html>
<head lang="en">
	<meta charset="UTF-8">
	<title></title>
</head>
<body>
<div ng-include src="'views/menu.html'"></div>



<div>
	<br>With the translate() method, the element moves from its current position, depending on the parameters given for the left (X-axis) and the top (Y-axis) position:<br><br>

</div>

<div class="third" style="position: relative; height: 100px; width: 600px">
	position: relative
	<div class="second centered-un" style="margin: 0px">UNKNOWN SIZE (REMOVED MARGINS)<br> centering inside other div</div>
</div>

<div class="second centered-un">
	UNKNOWN SIZES!<br>
	centering on the screen
</div>

</body>
</html>